# Ignorar arxius d'entorns virtuals
venv/
__pycache__/
*.pyc

# Ignorar arxius d'configuració d'IDEs
.idea/
.vscode/

# Ignorar arxius d'configuració de Poetry
.poetry/
poetry.lock

# Ignorar els arxius de logs
*.log

# Ignorar arxius caché
*.cache